
/* Налаштовуємо стиль для посилань у навігаційній панелі */
.navbar .container-fluid .navbar-brand {
    font-family: 'Alex Brush', cursive !important;
    color: #000000 !important; /* чорний колір для тексту */
}

/* Встановлюємо фон світло-рожевим (baby-pink) */
.navbar {
    background-color: #F1E0E6 !important; /* baby-pink */
}

/* Застосовуємо шрифт Noto Serif до навігаційних посилань */
.nav-link {
    font-family: 'Noto Serif' !important;
    font-style: italic;
    font-weight: 200;
}



/* Встановлюємо стиль для активних елементів у навігаційному меню */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000000 !important; /* чорний колір для активного елементу */
    background-color: #F1E0E6 !important; /* світло-рожевий фон для активного елементу */
    border-color: #F1E0E6 !important; /* зберігаємо рожевий колір рамки */
}

/* Інші стилі, якщо потрібно */
a {
    color: #000000 !important; /* чорний колір для всіх інших посилань */
}

.btn-primary {
    color: #fff !important;
    background-color: #F1E0E6 !important; /* baby-pink */
    border-color: #F1E0E6 !important;
}

.border-top {
    border-top: 1px solid #e5e5e5 !important;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05) !important;
}

button.accept-policy {
    font-size: 1rem !important;
    line-height: inherit !important;
}

.footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    white-space: nowrap !important;
    line-height: 60px !important;
}
