@model KyivBarGuideDomain.Model.Bar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Added enctype attribute to enable file uploads -->
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*id remains in hidden mode here for proper work of processes*@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div> *@
            <!-- File input for adding an image -->
            <div class="form-group">
                <label for="photo" class="control-label">Add an image</label>
                <input type="file" name="photo" class="form-control" accept="image/*" />
            </div>
            <div class="form-group mt-4">
                <!-- Додано клас mt-4 для відступу зверху -->
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
