/* Заголовки (h1, Меню тощо) */
h1, h2, h3, h4, h5, h6,
.navbar .container-fluid .navbar-brand,
.nav-link,
#menuSection,
#cocktailFormSection {
    font-family: 'Noto Serif', serif !important;
}

/* Вибір барів, інпути, кнопки (наприклад, Select a bar) */
input, textarea, select, button {
    font-family: 'Bitter', sans-serif !important;
    font-weight: 100 !important;
}

/* Налаштовуємо стиль для посилань у навігаційній панелі */
.navbar .container-fluid .navbar-brand {
    font-family: 'Alex Brush', cursive !important;
    color: #000000 !important; /* чорний колір для тексту */
}

/* Встановлюємо фон світло-рожевим (baby-pink) */
.navbar {
    background-color: #F1E0E6 !important; /* baby-pink */
}

/* Застосовуємо шрифт Noto Serif до навігаційних посилань */
.nav-link {
    font-family: 'Noto Serif' !important;
    font-style: italic;
    font-weight: 200;
}



/* Встановлюємо стиль для активних елементів у навігаційному меню */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000000 !important; /* чорний колір для активного елементу */
    background-color: #F1E0E6 !important; /* світло-рожевий фон для активного елементу */
    border-color: #F1E0E6 !important; /* зберігаємо рожевий колір рамки */
}

/* Інші стилі, якщо потрібно */
a {
    color: #000000 !important; /* чорний колір для всіх інших посилань */
}

.btn-primary {
    color: #fff !important;
    background-color: #F1E0E6 !important; /* baby-pink */
    border-color: #F1E0E6 !important;
}

.border-top {
    border-top: 1px solid #e5e5e5 !important;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05) !important;
}

button.accept-policy {
    font-size: 1rem !important;
    line-height: inherit !important;
}

.footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    white-space: nowrap !important;
    line-height: 60px !important;
}

h1 {
    font-family: 'Noto Serif', serif !important;
    font-weight: bold !important;
}

#menuSection {
    height: 500px;
    overflow-y: auto;
    background: url('C:\Users\Ivanka\Desktop\isttp\lr01\implementation\src\KyivBarGuideMVC\KyivBarGuideInfrastructure\wwwroot\images\menu_cover.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 5px 0 15px rgba(0, 0, 0, 0.1), inset -5px 0 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #d4c0b1;
    position: relative;
}

.btn-warning {
    background-color: #d1d1d1 !important; /* Світло-сірий */
    border-color: #d1d1d1 !important;
    color: #000 !important;
}

.btn-info {
    background-color: #F1E0E6 !important; /* Baby-pink */
    border-color: #F1E0E6 !important;
    color: #000 !important;
}